In [7]:
import numpy as np
import pandas as pd
from scipy import stats

data=pd.read_csv('sample.csv', header=None)
data_ttest=stats.ttest_1samp(data,24.3)
print("T-value=%.3f, P-value=%.3f" %data_ttest)

T-value=2.713, P-value=0.012

In [9]:
def confidence_interval(data, confidence=0.95):
    data=np.array(data)
    mean=np.mean(data)
    n=len(data)
    stderr=stats.sem(data) # standear error mean : 표준오차
    interval=stderr*stats.t.ppf((1+confidence)/2,n-1)
    return(mean, mean-interval, mean+interval)

confidence_interval(data)

(25.028000000000002, array([24.47413124]), array([25.58186876]))

In [10]:
ci=confidence_interval(data)
print("mean=%.3f, low=%.3f, high=%.3f" %ci)

mean=25.028, low=24.474, high=25.582

In [1]:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

count=np.array([45])
nobs=np.array([100])
val=0.35

z,p=proportions_ztest(count,nobs,val)
print(z,p)
print(z)
print(p)

[2.01007563] [0.04442318]
[2.01007563]
[0.04442318]

In [9]:
print("Z-value=%.3f, P-value=%.3f" %(z, p))

Z-value=2.010, P-value=0.044

In [12]:
import numpy as np
import pandas as pd

x=np.array([2.0,2.0,2.3,2.1,2.4,2.2,1.9,2.5,2.3,2.4])
g=np.repeat(np.array(['A','B']),5)
d={'g':g, 'x':x}
data=pd.DataFrame(data=d)
data

   g    x
0  A  2.0
1  A  2.0
2  A  2.3
3  A  2.1
4  A  2.4
5  B  2.2
6  B  1.9
7  B  2.5
8  B  2.3
9  B  2.4

In [13]:
A=data[data.g=='A']
B=data[data.g=='B']
# A, B 그룹을 나눠서 저장

In [33]:
A.x

0    2.0
1    2.0
2    2.3
3    2.1
4    2.4
Name: x, dtype: float64

In [23]:
data.groupby("g").x.describe()

   count  mean       std  min  25%  50%  75%  max
g
A    5.0  2.16  0.181659  2.0  2.0  2.1  2.3  2.4
B    5.0  2.26  0.230217  1.9  2.2  2.3  2.4  2.5

In [15]:
# 정규성 검정
from scipy.stats import shapiro
shapiro(x)

ShapiroResult(statistic=0.9437551498413086, pvalue=0.5955022573471069)

In [16]:
# 등분산 검정 Bartlett검정(정규성을 만족할 때)
from scipy import stats
stats.bartlett(A.x, B.x)

BartlettResult(statistic=0.19769157819919453, pvalue=0.6565906251784377)

In [17]:
#등분산 검정 Levene 검정(정규성을 만족하지 않을 때)
from scipy import stats
stats.levene(A.x,B.x)

LeveneResult(statistic=0.05555555555555569, pvalue=0.8195856784525775)

In [28]:
# T검정-양측검정, 등분산 가정
from scipy.stats import ttest_ind
ttest_ind(A.x, B.x, equal_var=True)

Ttest_indResult(statistic=-0.7624928516630208, pvalue=0.4676497723369858)

In [25]:
# T검정-단측검정, 이분산 가정 : alternative='larger','smaller','two-sided'
from statsmodels.stats.weightstats import ttest_ind
ttest_ind(A.x,B.x,alternative="smaller",usevar='pooled')

#우측 검정이면 larger
# (통계량 , p-value, 표준오차)

(-0.7624928516630208, 0.2338248861684929, 8.0)

In [23]:
ttest_ind(A.x,B.x,alternative="two-sided",usevar='unequal')

(-0.7624928516630208, 0.46879774681771524, 7.589533093894302)

In [29]:
x=np.array([224,270,400,444,590,660,1400,680])
y=np.array([116,96,239,329,437,597,689,576])
d={'y':y,'x':x}
data=pd.DataFrame(data=d)

In [42]:
from scipy.stats import ttest_rel
# 대응T검정-양측검정
ttest_rel(x,y)

Ttest_relResult(statistic=2.673117820270042, pvalue=0.031855388760108426)

In [43]:
#대응T검정-단측검정
pval=ttest_rel(x,y)[1]
print('one-sided p-value=',pval/2)

one-sided p-value= 0.015927694380054213

In [31]:
data=pd.DataFrame([[56,24],[44,37]],index=['A','B'],columns=['use','unuse'])
data
# 56, 44 :(사용), 24, 37 : (사용 안함) 
#모비율 검정 : alternative='less, greater, two-sided'
from scipy.stats import fisher_exact
fisher_exact(data,alternative='greater')

(1.9621212121212122, 0.029289557246881863)

In [48]:
count=np.array([56,44])
nobs=np.array([80,80])
z,p=proportions_ztest(count,nobs,value=0)
print('Z-value=%.3f' %z, "P-value=%.3f" %p)

Z-value=1.960 P-value=0.050

In [32]:
data

   use  unuse
A   56     24
B   44     37