In [1]:
#1-1
import numpy as np
import pandas as pd
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest
import matplotlib.pyplot as plt
import math

In [3]:
def confidence_interval(x, n, ppf):
    phat=x/n
    interval=ppf*math.sqrt((phat*(1-phat))/n)
    return (phat-interval), (phat+interval)

confidence_interval(520, 1000, 1.645)
print("하한=%.5f, 상한=%.5f"%confidence_interval(520, 1000, 1.645))

하한=0.49401, 상한=0.54599

In [4]:
#1-2
confidence_interval(520, 1000, 1.96)
print("하한=%.5f, 상한=%.5f"%confidence_interval(520, 1000, 1.96))

하한=0.48903, 상한=0.55097

In [5]:
#1-3
confidence_interval(2080, 4000, 1.96)
print("하한=%.5f, 상한=%.5f"%confidence_interval(2080, 4000, 1.96))

하한=0.50452, 상한=0.53548

In [6]:
#2-1
import numpy as np
import pandas as pd

x=np.array([172, 169, 176, 170, 174, 173, 168, 172, 173, 170])
d={'visitor':x}
data=pd.DataFrame(data=d)
data.describe().round(3)

       visitor
count   10.000
mean   171.700
std      2.452
min    168.000
25%    170.000
50%    172.000
75%    173.000
max    176.000

In [6]:
#2-2
def confidence_interval(data, confidence=0.95):
    data=np.array(data)
    mean=np.mean(data)
    n=len(data)
    stderr = stats.sem(data) 
           # standard error mean :표준오차
    interval=stderr*stats.t.ppf((1 + confidence) / 2, n-1)
            # ppf : inverse of cdf
    return (mean-interval, mean+interval)

print("하한=%.3f, 상한=%.3f"%confidence_interval(data))

하한=169.946, 상한=173.454

In [20]:
#3
import numpy as np
import pandas as pd
x=np.array([4.8, 5.2, 5.0, 4.9, 5.1, 5.0, 4.7, 4.9, 4.8])
g=np.array(['1', '1', '1', '1', '1', '2', '2', '2', '2'])
d={'x':x, 'group':g}
data1=pd.DataFrame(data=d)
data1.head()

     x group
0  4.8     1
1  5.2     1
2  5.0     1
3  4.9     1
4  5.1     1

In [21]:
data1.groupby('group').describe()

          x
      count  mean       std  min    25%   50%    75%  max
group
1       5.0  5.00  0.158114  4.8  4.900  5.00  5.100  5.2
2       4.0  4.85  0.129099  4.7  4.775  4.85  4.925  5.0

In [26]:
#등분산 가정
from scipy.stats import ttest_ind

group1=data1[data1.group=='1']
group2=data1[data1.group=='2']
result=ttest_ind(group1.x, group2.x, equal_var=True) 
print("T-value=%.3f, P-value=%.3f"%result)  #귀무가설 기각

T-value=1.528, P-value=0.170

In [38]:
#4
import numpy as np
import pandas as pd
x=np.array([27, 35, 19, 39, 34, 32, 15, 26, 18, 17])     
y=np.array([23, 28, 16, 31, 38, 30, 17, 22, 15, 16])
d={'A':x, 'B':y}
data2=pd.DataFrame(data=d)
data2.head(3)

    A   B
0  27  23
1  35  28
2  19  16

In [39]:
data2['d']=data2.A-data2.B
data2['d'].describe().round(3) #d=A-B , d의 평균, d의 표준편차

count    10.000
mean      2.600
std       3.658
min      -4.000
25%       1.250
50%       3.000
75%       4.000
max       8.000
Name: d, dtype: float64

In [40]:
# 대응T검정-단측검정
from scipy.stats import ttest_rel
tval=ttest_rel(x,y)[0]                          #t검정통계량 확인
pval=ttest_rel(x,y)[1]/2                        #p-value/2 (단측이므로)
print("T-value=%.3f, P-value=%.3f"%(tval, pval)) #귀무가설 기각

T-value=2.248, P-value=0.026

In [45]:
#5
import pandas as pd
data3=pd.DataFrame([[56,44], [40, 60]], index=['남성', '여성'],
                  columns=['만족', '불만족'])
data3

    만족  불만족
남성  56   44
여성  40   60

In [46]:
#모비율 검정
from scipy.stats import fisher_exact
result=fisher_exact(data3, alternative='greater')
print("F-value=%.3f, P-value=%.3f"%result) #귀무가설 기각

F-value=1.909, P-value=0.017

In [13]:
#6
import pandas as pd
years=np.tile(np.array(['4년 전', '3년 전', '2년 전', '1년 전']), 4)
A=np.repeat(np.array(['사과', '배', '복숭아', '딸기']),4)
B=np.array([50,55,35,60,50,50,50,50,10,8,20,12,10,12,14,14])
d={'Years':years, 'fruits':A, 'amounts':B}
data4=pd.DataFrame(data=d)

In [14]:
#빈도표
from scipy.stats import chi2_contingency
table=pd.crosstab(index=data4.Years, columns=data4.fruits,
                 values=data4.amounts, aggfunc=sum)
table

fruits  딸기   배  복숭아  사과
Years
1년 전    14  50   12  60
2년 전    14  50   20  35
3년 전    12  50    8  55
4년 전    10  50   10  50

In [15]:
#카이제곱 검정 및 기대도수표 작성
chi2_contingency(table) #chi, p , df, expected(기대빈도표)

(13.446022408963586,
 0.14344074593510237,
 9,
 array([[13.6, 54.4, 13.6, 54.4],
        [11.9, 47.6, 11.9, 47.6],
        [12.5, 50. , 12.5, 50. ],
        [12. , 48. , 12. , 48. ]]))

In [16]:
#기대도수의 분할표
chi, p, df, expected=chi2_contingency(table)
expected_table=pd.DataFrame(data=expected, index=table.index,
               columns=table.columns)
expected_table

fruits    딸기     배   복숭아    사과
Years
1년 전    13.6  54.4  13.6  54.4
2년 전    11.9  47.6  11.9  47.6
3년 전    12.5  50.0  12.5  50.0
4년 전    12.0  48.0  12.0  48.0

In [17]:
#검정결과
chi, p, df, expected=chi2_contingency(table)
print(chi.round(3), p.round(3)) #귀무가설을 기각할 수 없다.

13.446 0.143

In [25]:
#7-1
import numpy as np
import pandas as pd

value=np.tile(np.array(['자존심', '안전', '대인관계', '성취감',
                        '책임감', '체면', '소속감', '즐거움']), 6)
region=np.repeat(np.array(['서울', '경기,충청', '영남',
                      '호남', '강원', '제주']), 8)
x=np.array([154,147,125,88,74,65,63,34,
           147,152,90,65,55,72,49,23,
           55,62,63,38,23,31,24,11,
           34,26,27,17,24,4,10,8,
           8,5,3,3,1,5,4,3,
           12,6,2,3,2,1,6,2])
d={'value':value, 'region':region, 'x':x}
data5=pd.DataFrame(data=d)

In [26]:
#빈도표
from scipy.stats import chi2_contingency
table1=pd.crosstab(index=data5.value, columns=data5.region,
                  values=data5.x, aggfunc=sum)
table1

region  강원  경기,충청   서울  영남  제주  호남
value
대인관계     3     90  125  63   2  27
성취감      3     65   88  38   3  17
소속감      4     49   63  24   6  10
안전       5    152  147  62   6  26
자존심      8    147  154  55  12  34
즐거움      3     23   34  11   2   8
책임감      1     55   74  23   2  24
체면       5     72   65  31   1   4

In [30]:
#기대도수의 분할표
chi, p, df, expected=chi2_contingency(table1)
expected_table1=pd.DataFrame(data=expected, index=table1.index,
               columns=table1.columns)
expected_table1.round(3)

region     강원    경기,충청       서울      영남     제주      호남
value
대인관계    5.151  105.104  120.717  49.413  5.472  24.143
성취감     3.556   72.556   83.333  34.111  3.778  16.667
소속감     2.592   52.891   60.748  24.866  2.754  12.150
안전      6.613  134.940  154.984  63.440  7.026  30.997
자존심     6.812  139.008  159.657  65.353  7.238  31.931
즐거움     1.346   27.463   31.542  12.911  1.430   6.308
책임감     2.974   60.689   69.704  28.532  3.160  13.941
체면      2.957   60.350   69.315  28.373  3.142  13.863

In [29]:
#검정결과
chi, p, df, expected=chi2_contingency(table1)
print(chi.round(3), p.round(3)) #귀무가설을 기각

53.766 0.022

In [34]:
# 강원,제주 통합
value=np.tile(np.array(['자존심', '안전', '대인관계', '성취감',
                        '책임감', '체면', '소속감', '즐거움']), 5)
region=np.repeat(np.array(['서울', '경기,충청', '영남',
                      '호남', '강원,제주']), 8)
x=np.array([154,147,125,88,74,65,63,34,
           147,152,90,65,55,72,49,23,
           55,62,63,38,23,31,24,11,
           34,26,27,17,24,4,10,8,
           20,11,5,6,3,6,10,5])
d={'value':value, 'region':region, 'x':x}
data6=pd.DataFrame(data=d)

In [35]:
#빈도표
from scipy.stats import chi2_contingency
table2=pd.crosstab(index=data6.value, columns=data6.region,
                  values=data6.x, aggfunc=sum)
table2

region  강원,제주  경기,충청   서울  영남  호남
value
대인관계        5     90  125  63  27
성취감         6     65   88  38  17
소속감        10     49   63  24  10
안전         11    152  147  62  26
자존심        20    147  154  55  34
즐거움         5     23   34  11   8
책임감         3     55   74  23  24
체면          6     72   65  31   4

In [39]:
#기대도수의 분할표
chi, p, df, expected=chi2_contingency(table2)
expected_table2=pd.DataFrame(data=expected, index=table2.index,
               columns=table2.columns)
expected_table2.round(3)

region   강원,제주    경기,충청       서울      영남      호남
value
대인관계    10.623  105.104  120.717  49.413  24.143
성취감      7.333   72.556   83.333  34.111  16.667
소속감      5.346   52.891   60.748  24.866  12.150
안전      13.639  134.940  154.984  63.440  30.997
자존심     14.050  139.008  159.657  65.353  31.931
즐거움      2.776   27.463   31.542  12.911   6.308
책임감      6.134   60.689   69.704  28.532  13.941
체면       6.100   60.350   69.315  28.373  13.863

In [40]:
#검정결과
chi, p, df, expected=chi2_contingency(table2)
print(chi.round(3), p.round(3)) #귀무가설을 기각

48.762 0.009

In [44]:
#7-2
import pandas as pd
data7=pd.DataFrame([[154,596], [147,506]], index=['서울', '경기,충청'],
                  columns=['O', 'X'])
data7

         O    X
서울     154  596
경기,충청  147  506

In [45]:
#모비율 검정
from scipy.stats import fisher_exact
result=fisher_exact(data7, alternative='two-sided') #귀무가설 채택
print("F-value=%.3f, P-value=%.3f"%result) #귀무가설 기각

F-value=0.889, P-value=0.397